.bar {
  height: 4vh;
  background-color: $color-gold;

  display: grid;
  // The min-content columns will be the red/blue with the middle being the leftover
  position: relative;

  // Bar middle line indicator
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;

    width: 2px;
    height: 140%;
    border-radius: 10px;
    background-color: currentColor; // So that it matches the text color when a winner is determined
    transform: translateX(-50%);
    z-index: 0;
  }

  // Bar text
  &::after {
    content: attr(data-winner);
    position: absolute;
    font-size: 1.6rem;
    top: 145%;
    left: 50%;
    transform: translateX(-50%);
  }

  &__blue::after,
  &__red::after,
  &__none::after {
    content: attr(data-content);
    position: absolute;
    top: 47.5%;
  }

  &__blue {
    position: relative;
    background-color: $color-blue;

    &::after {
      transform: translate(-50%, -50%);
      right: 25%;
    }
  }
  &__red {
    position: relative;
    background-color: $color-red;

    &::after {
      transform: translate(50%, -50%);
      left: 25%;
    }
  }
  &__none {
    position: relative;

    &::after {
      transform: translate(-50%, -50%);
      left: 50%;
    }
  }
}

.settings {
  border-right: 2px solid $color-gold;

  @media only screen and (max-width: $bp-large) {
    border-right: none;
    border-top: 2px solid $color-gold;
  }

  &__btn {
    cursor: pointer;
    padding: 1rem;

    transition: all 0.2s;

    // Normal button styles
    &--blue {
      @media only screen and (max-width: $bp-large) {
        grid-column: 1 / 2;
      }

      background-color: $color-blue;
      &:hover {
        background-color: rgba($color: $color-blue, $alpha: 0.8);
      }
    }
    &--red {
      @media only screen and (max-width: $bp-large) {
        grid-column: 1 / 2;
      }

      background-color: $color-red;
      &:hover {
        background-color: rgba($color: $color-red, $alpha: 0.8);
      }
    }

    // Selected button styles
    &--selected {
      border: 1rem solid $color-gold;

      &:hover {
        outline: none;
        // box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
        z-index: 20;
      }
    }

    // Unselected button styles
    &--unselected {
      outline: 0px solid transparent;
      border: 1rem solid $color-gold-light;
      &:hover {
        outline: 1rem solid $color-gold;
        // box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
        z-index: 20;
      }
      &:active {
        transition: 0.25s outline 0s cubic-bezier(0.83, 0.23, 1, 0.25),
          0.2 border 0.5s;
        outline: 1px solid $color-gold;

        border: 1rem solid $color-gold; // Because we want to see the border change right as the outline is lessening
      }
    }

    &--visualize {
      grid-column: 1 / -1;

      @media only screen and (max-width: $bp-large) {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        padding: 1rem;
        justify-self: end;
      }

      justify-self: center;
      background-color: $color-font;

      padding: 1.5rem 2rem;

      &:hover {
        background-color: rgba($color: $color-font, $alpha: 0.8);
      }
    }

    &--reset {
      grid-column: 1 / -1;

      @media only screen and (max-width: $bp-large) {
        grid-row: 2 / 3;
        grid-column: 3 / 4;
        justify-self: start;
      }

      justify-self: center;
      border: 2px solid $color-gold-dark;
      color: $color-gold-dark;

      padding: 1rem 1.5rem;
      margin: 0.5rem 0 1rem 0;

      &:hover {
        background-color: $color-gold;
        color: $color-gold-light;
      }
      &:active {
        background-color: $color-gold-dark;
        color: $color-gold-light;
        border-color: $color-font;
      }
    }
  }

  hr {
    grid-column: 1 / -1;
    border: 1px solid $color-gold;
    border-radius: 50%;
    opacity: 1;

    @media only screen and (max-width: $bp-large) {
      // border: 1px solid $color-gold;
      // width: 2px;
      // height: 100%;

      display: none;
    }
  }
}

.map {
  // transform: translateX(-5.5%);
  @media only screen and (max-width: $bp-small) {
    height: 150%;
    width: 150%;
  }

  &__state {
    stroke-linejoin: round;
    stroke-width: 0.971px;

    transition: all 0.4s;

    cursor: pointer;

    &--default {
      stroke: $color-gold-dark;
      &.blue:hover {
        fill: rgba($color: $color-blue, $alpha: 0.8);
      }
      &.red:hover {
        fill: rgba($color: $color-red, $alpha: 0.8);
      }
      &.none:hover {
        fill: rgba($color: $color-gold, $alpha: 0.6);
      }
    }

    &--visualize {
      stroke: $color-font;
    }
  }

  &__line {
    stroke: $color-font;
    stroke-width: 0.5px;
  }
}

.socials {
  cursor: pointer;

  &__icon {
    transition: all 0.5s;
    fill: #5b5437;
    height: 3.5rem;
    width: 3.5rem;

    z-index: 100;

    &:hover {
      fill: #988c5b;
    }
  }

  a {
    height: 3.5rem;
    position: relative;

    z-index: 1;

    transition: all 0.5s;
  }
}

/* .states {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
} */
