.bar {
  width: 100%;
  height: 7.5vh;
  background-color: $color-grey;

  display: grid;
  // The min-content columns will be the red/blue with the middle being the leftover

  position: relative;

  &__blue {
    background-color: $color-dem;
  }
  &__red {
    background-color: $color-rep;
  }
}

.map {
  stroke: $color-grey;
  stroke-linejoin: round;

  &__state {
    stroke-width: 0.971px;

    transition: all 0.1s;

    position: relative;

    cursor: pointer;

    &:hover {
      filter: brightness(0.4);
    }
  }
}
