.App {
  display: grid;
  grid-template-columns: [full-start settings-start] 1fr [settings-end map-start] 4fr [map-end /* legend-start ] 1fr[ legend-end */ full-end];
  grid-template-rows: min-content;
  height: 100vh;
  background-color: $color-grey-light;

  column-gap: 3rem;
}

.bar {
  grid-column: full-start / full-end;
}

.settings {
  display: grid;
  grid-template-columns: [full-start blue-start] 1fr [blue-end red-start] 1fr [red-end full-end];
  padding: 4rem 4rem;
  column-gap: 4rem;

  align-items: start;
}

.map-container {
  height: 100%;
  width: 100%;
  padding: 2rem;
  overflow: hidden;
}

/* .map__state-small {
  position: absolute;
  top: 47.5%;
  right: 2%;
} */
