.App {
  display: grid;
  grid-template-columns: [full-start settings-start] 1fr [settings-end map-start] 4fr [map-end /* legend-start ] 1fr[ legend-end */ full-end];
  grid-template-rows: min-content;
  height: 100vh;
  background-color: $color-white;

  column-gap: 2rem;
}

.bar {
  grid-column: full-start / full-end;
}

.settings {
  display: grid;
  grid-template-columns: [full-start blue-start] 1fr [blue-end red-start] 1fr [red-end full-end];
  grid-template-rows: min-content;
  grid-auto-rows: min-content;
  padding: 4rem 4rem;
  column-gap: 4rem;
  row-gap: 2rem;

  background-color: $color-gold-light;

  align-items: start;
}

.map-container {
  height: 100%;
  width: 100%;
  padding: 2rem 0rem 2.1rem 2.5rem;
  overflow: hidden;
}

/* .map__state-small {
  position: absolute;
  top: 47.5%;
  right: 2%;
} */
