.bar {
  font-family: $default-font;
  line-height: 1;
  font-weight: 700;
  color: rgba($color: white, $alpha: 0.7);
}

.settings {
  font-family: $header-font;
}

.map {
  font-family: $default-font;
  line-height: 1;
  font-weight: 700;
  color: rgba($color: black, $alpha: 0.7);
}
