.bar {
  font-family: $default-font;
  line-height: 1;
  font-weight: 700;
  color: rgba($color: $color-white, $alpha: 0.7);
}

.settings {
  &__btn {
    font-family: $default-font;
    line-height: 1;
    font-weight: 700;
    color: rgba($color: $color-white, $alpha: 0.8);
    text-align: center;
  }
}

.map {
  font-family: $default-font;
  line-height: 1;
  font-weight: 700;
  color: rgba($color: $color-black, $alpha: 0.7);
}
