:root {
  --color-white: #fff;
  --color-black: #000;
}

$color-dem: #282cfa;
$color-rep: #ad2149;

$color-grey: #9e9ea0;
$color-grey-light: #f9f9f9;

$default-font: 'Fauna One', serif;
$header-font: 'Playfair Display', serif;

///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

#district-of-columbia {
  stroke-width: 0.5px !important;
}
