:root {
  --color-white: #fff;
  --color-black: #000;
}

// $color-blue: #282cfa;
// $color-red: #ad2149;
$color-blue: #282cfa;
$color-red: #ad2621;

$color-green: #57d985;

$color-gold: #d9c882;
$color-gold-light: #ffeb9931;

$color-grey: #9e9ea0;
$color-grey-light: #f9f9f9;
// $color-grey: #d9c882;
// $color-grey-light: #ffeb99;

$color-white: #fff;
$color-black: #000;

$default-font: 'Fauna One', serif;
$header-font: 'Playfair Display', serif;

///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.map #district-of-columbia {
  stroke-width: 0.1px !important;
}

.states path {
  stroke-width: 1.8px;
}

.none {
  fill: $color-gold-light;
}
.blue {
  fill: $color-blue;
}
.red {
  fill: $color-red;
}
