:root {
  --color-white: #fff;
  --color-black: #000;
}

// $color-blue: #282cfa;
// $color-red: #ad2621;
// $color-blue: #3e41fb;
// $color-red: #b53c37;
$color-blue: #5154fb;
$color-red: #bc504b;

$color-blue-light: #ececff;
$color-red-light: #f8eceb;

$color-green: #57d985;

$color-gold: #d9c882;
$color-gold-light: #fbfaf3;
$color-gold-dark: #988c5b;

$color-grey: #9e9ea0;
$color-grey-light: #f9f9f9;
// $color-grey: #d9c882;
// $color-grey-light: #ffeb99;

$color-white: #fff;
$color-black: #000;

$color-font: #5b5437;
$default-font: 'Fauna One', serif;
$header-font: 'Playfair Display', serif;

///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

// first-of-type so that the enlarged version doesn't have a thin stroke
.map #district-of-columbia:first-of-type {
  stroke-width: 0.1px !important;
}

.states path {
  stroke-width: 1.8px;
}

.none {
  fill: $color-gold-light;
}

.blue {
  fill: $color-blue;
}
.red {
  fill: $color-red;
}

.blue.hovered {
  fill: rgba($color: $color-blue, $alpha: 0.8);
}
.red.hovered {
  fill: rgba($color: $color-red, $alpha: 0.8);
}
.none.hovered {
  fill: rgba($color: $color-gold, $alpha: 0.8);
}

.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
