:root {
  --color-white: #fff;
  --color-black: #000; }

#district-of-columbia {
  stroke-width: 0.5px !important; }

.none {
  fill: #f9f9f9; }

.blue {
  fill: #282cfa; }

.red {
  fill: #ad2149; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  font-size: 2.4rem; }

.App {
  display: grid;
  grid-template-columns: [full-start settings-start] 1fr [settings-end map-start] 5fr [map-end full-end];
  grid-template-rows: min-content;
  height: 100vh; }

.bar {
  grid-column: full-start / full-end; }

.settings {
  display: grid;
  justify-content: center;
  align-items: center; }

.map-container {
  height: 100%;
  width: 100%; }

.bar {
  width: 100%;
  height: 7.5vh;
  background-color: #9e9ea0;
  display: grid;
  position: relative; }
  .bar__blue {
    background-color: #282cfa; }
  .bar__red {
    background-color: #ad2149; }

.settings__btn {
  cursor: pointer;
  padding: 1rem;
  background-color: #9e9ea0;
  text-align: center;
  border-radius: 2px; }
  .settings__btn--blue {
    background-color: #282cfa;
    color: #f9f9f9; }
  .settings__btn--red {
    background-color: #ad2149;
    color: #f9f9f9; }

.map {
  stroke: #9e9ea0;
  stroke-linejoin: round; }
  .map__state {
    stroke-width: 0.971px;
    transition: all 0.1s;
    position: relative;
    cursor: pointer; }
    .map__state:hover {
      filter: brightness(0.4); }
