:root {
  --color-white: #fff;
  --color-black: #000; }

.map #district-of-columbia {
  stroke-width: 0.1px !important; }

.states path {
  stroke-width: 1.8px; }

.none {
  fill: #fbfaf3; }

.blue {
  fill: #3e41fb; }

.red {
  fill: #b53c37; }

.blue.hovered {
  fill: rgba(62, 65, 251, 0.8); }

.red.hovered {
  fill: rgba(181, 60, 55, 0.8); }

.none.hovered {
  fill: rgba(217, 200, 130, 0.8); }

.bar {
  font-family: "Fauna One", serif;
  line-height: 1;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.7); }

.settings {
  font-family: "Playfair Display", serif;
  color: #5b5437; }
  .settings__btn {
    font-family: "Fauna One", serif;
    line-height: 1;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.8);
    text-align: center; }
  .settings__text {
    font-size: 3rem; }
  .settings__paragraph {
    font-size: 2.2rem; }
  .settings__heading {
    text-transform: capitalize;
    font-size: 3rem;
    font-weight: 600; }

.map {
  font-family: "Fauna One", serif;
  line-height: 1;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.7); }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  font-size: 2.4rem; }

.App {
  display: grid;
  grid-template-columns: [full-start settings-start] 1fr [settings-end map-start] 4fr [map-end full-end];
  grid-template-rows: min-content;
  height: 100vh;
  background-color: #fff;
  column-gap: 2rem; }

.bar {
  grid-column: full-start / full-end; }

.settings {
  display: grid;
  grid-template-columns: [full-start blue-start] 1fr [blue-end red-start] 1fr [red-end full-end];
  grid-template-rows: min-content min-content min-content min-content min-content 1fr;
  grid-auto-rows: min-content;
  padding: 4rem 4rem;
  column-gap: 4rem;
  row-gap: 2rem;
  background-color: #fbfaf3;
  align-items: start; }
  .settings__info {
    grid-column: 1 / -1; }
  .settings__footer {
    margin-top: auto; }

.map-container {
  height: 100%;
  width: 100%;
  padding: 2rem 0rem 2.1rem 2.5rem;
  overflow: hidden; }

/* .map__state-small {
  position: absolute;
  top: 47.5%;
  right: 2%;
} */
.bar {
  height: 4vh;
  background-color: #d9c882;
  display: grid;
  position: relative; }
  .bar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 1px;
    height: 140%;
    background-color: #d9c882;
    transform: translateX(-50%);
    z-index: 0; }
  .bar::after {
    content: attr(data-winner);
    position: absolute;
    color: #d9c882;
    font-size: 1.6rem;
    top: 145%;
    left: 50%;
    transform: translateX(-50%); }
  .bar__blue::after, .bar__red::after, .bar__none::after {
    content: attr(data-content);
    position: absolute;
    top: 47.5%; }
  .bar__blue {
    position: relative;
    background-color: #3e41fb; }
    .bar__blue::after {
      transform: translate(-50%, -50%);
      right: 25%; }
  .bar__red {
    position: relative;
    background-color: #b53c37; }
    .bar__red::after {
      transform: translate(50%, -50%);
      left: 25%; }
  .bar__none {
    position: relative; }
    .bar__none::after {
      transform: translate(-50%, -50%);
      left: 50%; }

.settings {
  border-right: 2px solid #d9c882; }
  .settings__btn {
    cursor: pointer;
    padding: 1rem;
    transition: all 0.2s; }
    .settings__btn--blue {
      background-color: #3e41fb; }
      .settings__btn--blue:hover {
        background-color: rgba(62, 65, 251, 0.8); }
    .settings__btn--red {
      background-color: #b53c37; }
      .settings__btn--red:hover {
        background-color: rgba(181, 60, 55, 0.8); }
    .settings__btn--selected {
      border: 1rem solid #d9c882; }
      .settings__btn--selected:hover {
        outline: none;
        z-index: 20; }
    .settings__btn--unselected {
      outline: 0px solid transparent;
      border: 1rem solid #fbfaf3; }
      .settings__btn--unselected:hover {
        outline: 1rem solid #d9c882;
        z-index: 20; }
      .settings__btn--unselected:active {
        transition: 0.25s outline 0s cubic-bezier(0.83, 0.23, 1, 0.25), 0.2 border 0.5s;
        outline: 1px solid #d9c882;
        border: 1rem solid #d9c882; }
    .settings__btn--visualize {
      grid-column: 1 / -1;
      justify-self: center;
      background-color: #5b5437;
      padding: 1rem 2rem; }
  .settings__footer {
    grid-column: 1 / -1; }
  .settings hr {
    grid-column: 1 / -1;
    border: 1px solid #d9c882;
    border-radius: 50%;
    opacity: 1;
    margin: 1.5rem 0; }

.map__state {
  stroke-linejoin: round;
  stroke-width: 0.971px;
  transition: all 0.4s;
  cursor: pointer; }
  .map__state--default {
    stroke: #988c5b; }
    .map__state--default.blue:hover {
      fill: rgba(62, 65, 251, 0.8); }
    .map__state--default.red:hover {
      fill: rgba(181, 60, 55, 0.8); }
    .map__state--default.none:hover {
      fill: rgba(217, 200, 130, 0.6); }
  .map__state--visualize {
    stroke: #5b5437; }

.socials {
  cursor: pointer;
  display: flex;
  justify-content: space-evenly; }
  .socials__icon {
    transition: all 0.5s;
    fill: #5b5437;
    height: 3rem;
    width: 3rem; }
    .socials__icon:hover {
      fill: #988c5b; }

/* .states {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
} */
