:root {
  --color-white: #fff;
  --color-black: #000; }

#district-of-columbia {
  stroke-width: 0.5px !important; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

.App {
  display: grid;
  grid-template-rows: min-content;
  height: 100vh; }

.map-container {
  height: 100%;
  width: 100%; }

.bar {
  width: 100%;
  height: 7.5vh;
  background-color: #9e9ea0;
  display: grid;
  position: relative; }
  .bar__blue {
    background-color: #282cfa; }
  .bar__red {
    background-color: #ad2149; }

.map {
  fill: #f9f9f9;
  stroke: #9e9ea0;
  stroke-linejoin: round; }
  .map__state {
    stroke-width: 0.971px;
    transition: all 0.1s;
    position: relative; }
    .map__state:hover {
      fill: #9e9ea0; }
